// -------------------------------------------------------------------------- //
// Home module
// -------------------------------------------------------------------------- //

.m-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 2rem);
    margin: 1rem;
    padding: 1rem;
    border: 3px solid #CCCCCC;
    text-align: center;

    .c-markdown-editor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3vh;

        textarea {
            width: 100%;
            max-width: 500px;
        }
    }
}
